*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family :Arial, Helvetica, sans-serif
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 60px;
}
.box{
    min-width: 300px;
    max-width: 544px;
    /* width: 520px; */
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(173, 86, 255);
    margin-bottom: 30px;
    flex-wrap: wrap;
    padding: 0 14px;
}

#todo{
    width : 320px;
    height: 40px;
    background-color: white;
    margin: 0 5px 0 0px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 28px;
    padding: 0 10px;
}
#add, #clear{
    width: 80px;
    height: 40px;
    background-color: rgb(248, 32, 75);
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 400;
}
#clear{
    margin:0 0px 0 5px;
}
#add{
    margin : 0 5px 0 0px;
}
.tasks{
    min-width: 300px;
    width: max-content;
    border-radius: 5px;
    background-color: rgb(173, 86, 255);
    padding: 16px;
}
ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 24px;
    color: white;
}
li{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}
.tsk-desc{
    /* text-decoration: line-through; */
    font-size: 24px;
    
    column-width: 200px;
      
}
.task-check{
    margin : 0 5px 0 20px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    background-color: white;
}
.task-delete{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 32, 75);
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 2px;
    justify-self: left;
    margin: 0 5px 0 5px;
}
.boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#add:hover, #clear:hover, .task-delete:hover{
    background-color: white;
    color: rgb(248, 32, 75);
    font-weight: 600;
}
.task-down{
    text-decoration: line-through;
}

button{
    outline: none;
    border: none;

}
.fa-square-check{
    font-size: 100%;
}

.task-cntnr {
    max-width: 250px;
  }
  
p {
    word-wrap: break-word;
  }